* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  padding: 0 25px;
}
@media (max-width: 575px) {
  .header-container {
    padding: 15px;
  }
}
.logo-and-title-container {
  display: flex;
  align-items: center;
}
.logo {
  width: 30px;
  margin-right: 8px;
}
.title {
  color: #12022f;
  font-size: 24px;
  font-weight: bolder;
}
.nav-items-list {
  display: flex;
}
.link-item {
  list-style-type: none;
}
.route-link {
  color: #12022f;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 15px;
}
@media (max-width: 767px) {
  .route-link {
    margin-left: 10px;
  }
}
